.team-member .swiper-pagination {
  bottom: inherit !important;
  top: inherit !important;
  bottom: 10px !important;
  left: 97% !important;
  transform: translatex(-50%) !important;
  width: 100% !important;
  display: flex !important;
  align-items: center !important;
  gap: 2px !important;
}

@media screen and (max-width: 575px) {
  .team-member .swiper-pagination {
    left: 75% !important;
  }
}

.team-member span.swiper-pagination-bullet {
  background: linear-gradient(to right, #1a90ff, #3326fc) !important;
  opacity: 1 !important;
  border-radius: 50px;
  height: 9px !important;
  width: 9px !important;
  position: relative;
}

.team-member span.swiper-pagination-bullet::before {
  transform: scale(0);
}

.team-member .swiper-pagination-bullet.swiper-pagination-bullet-active {
  height: 9px !important;
  width: 30px !important;
}
