.process-box .process-icon::before{
  position: absolute; 
  content: '';
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #3513f9 0%, #1a90ff 100%);
  transform: scale(0);
  border-radius: 50%;
  z-index: -1;
  transition: all 0.5s;
}

.process-box:hover .process-icon::before ,
.process-box.active .process-icon::before {
  transform: scale(1);
}

.process-box.active .process-icon > img {
  filter: brightness(0) invert(1);
}
