@media screen and (min-width: 768px) {
  .why-choose-box.active {
    transform: translateX(50px);
  }
}

.why-choose-box.active > div:before {
  width: 100%;
  left: 0;
}

.why-choose-box.active .why-choose-title,
.why-choose-box.active .why-choose-desc {
  color: white;
}
