.marquee-text-section3 {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  background: #2a47fb;
  display: inline-block;
  padding: 47px 0 36px;
}

.marquee-animation3 {
  display: inline-block;
  will-change: transform;
  animation: marquee 20s linear infinite;
  overflow: hidden;
}

.marquee-text-section3:hover .marquee-animation3 {
  animation-play-state: paused;
}

span.marquee-text-item3 {
  display: inline-block;
  font-size: 36px;
  color: #ffffff;
  margin: 0 20px; /* Increased margin */
  text-transform: uppercase;
  font-family: 'Rajdhani';
  font-weight: 700;
}

/* Responsive here */

@media screen and (max-width: 667px) {
  span.marquee-text-item3 {
    font-size: 24px;
    margin: 0 5px;
  }

  span.marquee-text-item3 img {
    width: 20px;
  }
}
/* Animation */

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
