@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Rajdhani:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Common Tailwind CSS Start Here */

@layer components {
  html {
    scroll-behavior: smooth;
    box-sizing: border-box;
  }

  html,
  body {
    overflow-x: hidden;
  }

  .Container {
    @apply w-full sm:w-[540px] md:w-[720px] lg:w-[960px] xl:w-[1140px] 2xl:w-[1320px] px-2 md:px-3 lg:px-4 mx-auto;
  }

  /* Primary Button Styling */
  .primary-btn {
    text-decoration: none;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    gap: 8px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    font-family: 'Rajdhani', sans-serif;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 18px;
    line-height: 1;
    font-weight: 500;
    color: white;
    text-transform: uppercase;
    background-size: 200%;
    background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(#1a90ff),
      color-stop(51%, #302bfb, to(#1a90ff))
    );
    background-image: -o-linear-gradient(
      left,
      #1a90ff 0%,
      #302bfb 51%,
      #1a90ff 100%
    );
    background-image: linear-gradient(
      to right,
      #1a90ff 0%,
      #302bfb 51%,
      #1a90ff 100%
    );
    border: none;
    border-radius: 50px;
    padding: 19px 40px;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }
  @media screen and (max-width: 575px) {
    .primary-btn {
      font-size: 16px;
      padding: 15px 30px;
    }
  }
  .primary-btn:hover {
    background-position: -100%;
  }

  /* Icon Style */
  .icon-style {
    @apply inline-block text-white fill-none stroke-[1.5] bg-transparent;
  }

  /* Hover Effect for Icons */
  .banner-btn:hover .icon-style g:nth-of-type(1),
  .latest-work-btn:hover .icon-style g:nth-of-type(1),
  .blog-button:hover .icon-style g:nth-of-type(1),
  .primary-btn:hover .icon-style g:nth-of-type(1),
  .service-btn:hover .icon-style g:nth-of-type(1) {
    @apply opacity-0 translate-x-full;
  }

  /* Progress Bar */
  .progress-bar-rect-wrap-container {
    @apply relative z-[999] flex gap-12;
  }

  .rect-progress-bar-percent {
    @apply !m-0 leading-[10px] text-HeadingColor-0 font-Rajdhani;
  }

  /* Pagination */
  .swiper-pagination {
    @apply absolute bottom-2.5 left-[95%] transform translate-x-[-50%] flex items-center gap-2.5;
  }

  @media screen and (max-width: 575px) {
    .swiper-pagination {
      @apply left-[75%];
    }
  }

  .swiper-pagination-bullet {
    @apply bg-transparent opacity-70 rounded-full transition-all duration-500 w-3.5 h-3.5 relative;
  }

  .swiper-pagination-bullet-active {
    @apply opacity-100 bg-gradient-to-r from-[#1a90ff] to-[#3326fc];
  }

  /* Portfolio Pagination */
  .portfolio .swiper-pagination {
    @apply absolute bottom-0 left-1/2 transform translate-x-[-50%] flex justify-center items-center gap-2.5;
  }

  .portfolio .swiper-pagination-bullet {
    @apply bg-[#35435d] rounded-full w-2.5 h-2.5;
  }

  .portfolio .swiper-pagination-bullet-active {
    @apply bg-[#0c59db] w-3 h-3;
  }

  /* FAQ */
  .faq-button {
    @apply rounded-md border border-transparent px-5 py-2 transition-all;
  }
  .faq-button[aria-expanded='true'],
  .faq-button:hover {
    @apply bg-[#0c59db] text-white;
  }

  .faq-button3[aria-expanded='true'],
  .faq-button3:hover {
    @apply bg-[#0b59db] rounded-t-md;
  }

  .faq-button3:hover img,
  .faq-button3[aria-expanded='true'] img,
  .faq-button2:hover img,
  .faq-button2[aria-expanded='true'] img {
    @apply filter brightness-0 invert;
  }

  .faq-button2[aria-expanded='true'] {
    @apply bg-[#0b59db] rounded-t-md;
  }

  /* Pricing */
  .pricing-box.active::before,
  .pricing-box:hover::before {
    @apply left-0 w-full;
  }

  .pricing-box.active .pricing-quality,
  .pricing-box:hover .pricing-quality {
    @apply bg-white text-[#0c59db];
  }

  .pricing-box.active .pricing-icon,
  .pricing-box:hover .pricing-icon {
    @apply text-[#0c59db];
  }

  .pricing-box.active .pricing-icon::before,
  .pricing-box:hover .pricing-icon::before {
    @apply scale-100;
  }

  .pricing-box.active .pricing-limit,
  .pricing-box.active .pricing-price,
  .pricing-box.active .pricing-title,
  .pricing-box.active .pricing-desc,
  .pricing-box:hover .pricing-limit,
  .pricing-box:hover .pricing-price,
  .pricing-box:hover .pricing-title,
  .pricing-box:hover .pricing-desc {
    @apply text-white;
  }

  .pricing-box.active .pricing-btn,
  .pricing-box:hover .pricing-btn {
    @apply text-white border-white;
  }

  /* Choose Box */
  .choose-box.active::before,
  .choose-box:hover::before {
    @apply left-0 w-full;
  }

  .choose-box.active .choose-icon,
  .choose-box:hover .choose-icon {
    @apply text-[#0c59db];
  }

  .choose-box.active .choose-price,
  .choose-box.active .choose-title,
  .choose-box.active .choose-desc,
  .choose-box.active .choose-list,
  .choose-box:hover .choose-price,
  .choose-box:hover .choose-title,
  .choose-box:hover .choose-desc,
  .choose-box:hover .choose-list {
    @apply text-white;
  }

  .choose-box.active .choose-btn,
  .choose-box:hover .choose-btn {
    @apply text-white bg-[#0c59db];
  }

  /* Benefits */
  .benefits .rect-progress-bar-percent {
    @apply text-white font-normal;
  }

  /* Portfolio */
  .portfolio .swiper-slide.swiper-slide-active .portfolio-content {
    @apply rounded-tr-none;
  }

  .portfolio .swiper-slide.swiper-slide-active .portfolio-img::before {
    @apply h-full opacity-20;
  }

  .portfolio .portfolio-box:hover .portfolio-icon,
  .portfolio .swiper-slide.swiper-slide-active .portfolio-icon {
    @apply text-[#0c59db] stroke-1;
  }

  .portfolio .swiper-slide.swiper-slide-active .portfolio-title {
    @apply text-[#0c59db];
  }

  .portfolio .swiper-slide.swiper-slide-active .portfolio-btn {
    @apply top-[-50px] opacity-100;
  }

  /* Project */
  .project .swiper-slide.swiper-slide-active .project-btn {
    @apply right-[-25px] opacity-100;
  }

  /* Team Member */
  .team-member-box:nth-child(2n + 2) {
    @apply mt-[50px];
  }

  /* Work Section */

  .work-section iframe {
    @apply !max-w-full;
  }

  /* Why Choose Progress */

  .why-choose-us .rect-progress-bar-percent {
    @apply absolute top-1/2 transform -translate-y-1/2 font-Rajdhani font-semibold text-PrimaryColor-0;
  }

  .why-choose-progress1 h2 {
    @apply right-[19%];
  }

  .why-choose-progress2 h2 {
    @apply right-[14%];
  }

  .why-choose-progress3 h2 {
    @apply right-[9%];
  }

  /* Process Active */

  .process-box.active .process-icon::before {
    @apply scale-100;
  }

  .process-box.active .process-icon > img {
    @apply brightness-0 invert;
  }

  /* Skill Progress */

  .skill-progress h2.rect-progress-bar-percent {
    @apply absolute top-[-28px] right-0 font-semibold;
  }

  .skill-progress .inner-rect-bar {
    @apply bg-gradient-to-r from-PrimaryColor-0 to-PrimaryColor2-0;
  }

  /* Team Member Pagination */

  .team-member .swiper-pagination {
    @apply !bottom-[10px] !left-[97%] !-translate-x-1/2 w-full flex items-center !gap-0;
  }

  @media screen and (max-width: 575px) {
    .team-member .swiper-pagination {
      @apply !left-[75%];
    }
  }

  .team-member .swiper-pagination-bullet {
    @apply bg-gradient-to-r from-PrimaryColor2-0 to-PrimaryColor-0 opacity-100 rounded-full !h-[9px] !w-[9px] relative;
  }

  .team-member .swiper-pagination-bullet::before {
    @apply !scale-0;
  }

  .team-member .swiper-pagination-bullet-active {
    @apply !w-[30px];
  }

  /* About Tab */

  .mission-vision-tab-content.active {
    @apply block animate-fadeInUp;
  }

  /* Counter Stroke */

  .counter-text {
    -webkit-text-stroke: 1px #042414;
  }

  .counter-text-dark {
    -webkit-text-stroke: 1px #ffffff;
  }

  /* Stroke */
  .stroke {
    color: transparent !important;
    -webkit-text-stroke: 1px #ffffff;
  }

  /* Project Pagination */

  .project .swiper-pagination-bullet {
    @apply !bg-[#b5beff] opacity-100 rounded-full !size-3 relative z-10 before:absolute before:-top-[6px] before:-left-[6px] before:rounded-full before:size-[22px] before:border before:border-transparent;
  }

  .project.dark .swiper-pagination-bullet {
    @apply !bg-[#ffffff2f];
  }

  .project .swiper-pagination-bullet-active {
    @apply !size-[10px] !bg-gradient-to-t !to-PrimaryColor-0 !from-PrimaryColor2-0;
  }

  .project .swiper-pagination-bullet-active {
    @apply before:border-PrimaryColor-0;
  }

  .project .swiper-pagination {
    @apply absolute !bottom-[10px] !left-1/2 !-translate-x-1/2 w-full flex items-center justify-center !gap-[7px];
  }

  @media screen and (max-width: 575px) {
    .project .swiper-pagination {
      @apply left-[55%];
    }
  }

  /* Service Progress */

  .service-progress .rect-progress-bar-percent {
    @apply absolute -top-[32px] right-0 font-semibold !font-Rajdhani !m-0;
  }

  .service-progress .inner-rect-bar {
    background: linear-gradient(90deg, #3513f9 0%, #1a90ff 100%) !important;
  }

  /* Open Light Box */

  html.fslightbox-open {
    @apply !overflow-y-auto;
  }

  /* Tab Content */
  .tab-content {
    @apply hidden;
  }

  .tab-content.active {
    @apply block animate-fadeInUp;
  }

  .body-overlay {
    @apply fixed inset-0 z-[50] w-full h-full bg-black bg-opacity-80 opacity-0 invisible transition-opacity duration-[450ms] ease-in-out;
  }

  .body-overlay.apply {
    @apply opacity-100 visible;
  }

  .body-overlay:hover {
    cursor: url(/public/images/cross.png), pointer;
  }

  .menu-bar {
    @apply relative top-[5px] -rotate-180;
  }

  .menu-bar span {
    @apply block h-[2px] bg-white my-[5px] rounded-[30px] transition-all duration-500 ease-in-out;
  }

  .header-area.style-two.style-eight.style-eleven .menu-bar span {
    @apply bg-PrimaryColor-0;
  }

  .menu-bar:hover span:nth-child(1),
  .menu-bar:hover span:nth-child(2),
  .menu-bar:hover span:nth-child(3) {
    @apply w-[22px];
  }

  .menu-bar span:nth-child(3) {
    @apply w-[20px];
  }

  .menu-bar span:nth-child(2) {
    @apply w-[16px];
  }

  .menu-bar span:nth-child(1) {
    @apply w-[22px];
  }

  .offcanvas {
    @apply fixed inset-y-0 -right-full w-[400px] bg-[#041424] z-[99] p-[36px] shadow-[0_16px_-32px_0_rgba(0,0,0,0.8)] overflow-y-scroll opacity-0 invisible transition-all duration-[0.45s] ease-in-out bg-cover bg-no-repeat;
  }

  .offcanvas.opened {
    @apply right-0 opacity-100 visible transition-all duration-[600ms] ease-[cubic-bezier(0.785,0.135,0.15,0.86)];
  }

  @media (max-width: 767px) {
    .offcanvas {
      @apply w-[300px] p-[30px_25px];
    }
  }

  @media (min-width: 576px) and (max-width: 767px) {
    .offcanvas {
      @apply w-[400px] p-[25px];
    }
  }

  .offcanvas_title p {
    @apply text-[16px] text-[#a3b7b7] mb-[20px];
  }

  @media (max-width: 767px) {
    .offcanvas_title p {
      @apply text-[15px];
    }
  }

  .offcanvas_contact-title h5 {
    @apply text-[24px] text-white font-normal font-Rajdhani mb-[30px] inline-block;
  }

  .offcanvas_contact-info ul li {
    @apply flex items-center;
  }

  .offcanvas_contact-info ul li a {
    @apply text-white font-Rajdhani transition-colors duration-300;
  }

  .offcanvas_contact-info ul li i {
    @apply text-PrimaryColor-0;
  }

  .offcanvas_input-title h4 {
    @apply text-[24px] text-white font-normal font-Rajdhani mb-[30px] inline-block;
  }

  .offcanvas_input {
    @apply mb-[10px] relative;
  }

  .offcanvas_input input {
    @apply bg-transparent border border-white border-opacity-10 h-[60px] w-full px-[20px] pr-[80px] text-white;
  }

  .offcanvas_input button {
    @apply absolute bottom-0 right-0 h-[60px] w-[60px] bg-PrimaryColor-0 text-white text-[24px] flex items-center justify-center;
  }

  .offcanvas_input input::placeholder {
    @apply text-[#ffffff57];
  }

  .offcanvas_contact-info {
    @apply mb-[50px];
  }

  .offcanvas_contact-info ul li {
    @apply text-[16px] text-white mb-[15px] list-none;
  }

  @media (max-width: 767px) {
    .offcanvas_contact-info ul li {
      @apply text-[14px];
    }
  }

  .offcanvas_contact-info ul li:last-child {
    @apply mb-0;
  }

  .offcanvas_contact-info ul li a {
    @apply ml-[10px] transition-colors duration-300;
  }

  .offcanvas_contact-info ul li a:hover {
    @apply text-PrimaryColor-0;
  }

  .offcanvas_logo {
    @apply mb-[25px];
  }

  @media (max-width: 991px) {
    .offcanvas_logo {
      @apply pt-0;
    }
  }

  .offcanvas_close-btn button {
    @apply absolute right-[30px] top-[30px] h-[40px] w-[40px] bg-PrimaryColor-0 text-white text-[20px] flex items-center justify-center transition-all duration-300 ease-in-out;
  }

  .offcanvas_close-btn button:hover svg {
    @apply rotate-180 transition-transform duration-1000;
  }

  .offcanvas_social {
    @apply mt-[30px];
  }

  .offcanvas_social .social-icon {
    @apply flex items-center gap-[3px];
  }

  .offcanvas_social .social-icon a {
    @apply h-[45px] w-[45px] flex items-center justify-center text-[16px] text-white bg-opacity-20 rounded-full hover:bg-PrimaryColor-0 transition-all duration-300 relative;
  }

  .offcanvas_social .social-icon a::before {
    @apply absolute inset-0 bg-PrimaryColor-0 rounded-full scale-0 transition-transform duration-500 -z-10;
  }

  @media (max-width: 767px) {
    .offcanvas_social .social-icon a {
      @apply h-[40px] w-[40px] text-[15px];
    }
  }

  .offcanvas_social .social-icon a:hover::before {
    @apply scale-100;
  }
  @media (max-width: 767px) {
    .offcanvas_social .social-icon a {
      @apply mr-[3px] h-[40px] w-[40px] text-[15px] leading-[40px];
    }
  }

  .offcanvas_social .social-icon a:hover::before {
    @apply scale-100;
  }

  .offcanvas_social .social-icon a:hover {
    @apply text-white;
  }

  .header-area {
    @apply absolute w-full z-[50] bg-transparent;
  }

  @media (max-width: 991px) {
    .header-area {
      @apply bg-PrimaryColor-0;
    }
  }

  .is-sticky {
    @apply !fixed top-0 left-0 w-full z-[50] shadow-shadows bg-white backdrop-blur-md animate-headerSlideDown;
  }

  @media (max-width: 991px) {
    .is-sticky {
      @apply !fixed top-0 left-0 w-full z-[50] shadow-shadows bg-HeadingColor-0 backdrop-blur-md animate-headerSlideDown;
    }
  }

  nav.main-menu-content > ul > li {
    @apply inline-block relative;
  }

  nav.main-menu-content > ul > li > a {
    @apply relative flex gap-[4px] items-center px-[21px] py-[36px] text-[18px] font-[500] text-[#041424] capitalize transition-all duration-500 font-Nunito before:absolute before:top-1/2 before:left-[22px] before:w-[7px] before:h-[7px] before:rounded-[30px] before:border before:border-PrimaryColor-0 before:scale-0 before:-translate-y-[72%] before:transition-all before:duration-500 hover:before:scale-100 hover:before:left-2;
  }

  nav.main-menu-content > ul > li > a.active {
    @apply before:left-2 before:scale-100 before:-translate-y-[72%];
  }

  @media (max-width: 1400px) {
    nav.main-menu-content > ul > li > a.active,
    nav.main-menu-content > ul > li > a:hover {
      @apply before:left-0 before:scale-100 before:-translate-y-[72%];
    }
  }

  @media (max-width: 991px) {
    nav.main-menu-content > ul > li > a {
      @apply px-[10px] py-[8px] text-[16px] text-white;
    }

    nav.main-menu-content > ul > li > a {
      @apply before:border-white;
    }
  }

  nav.main-menu-content > ul > li:hover > a {
    @apply text-PrimaryColor-0;
  }

  nav.main-menu-content > ul > li > a > span {
    @apply absolute text-[12px] transition-all duration-500 top-[25px] right-[10px];
  }

  nav.main-menu-content > ul > li:hover > a > span {
    @apply top-[26px] -rotate-180;
  }

  .header-btn a {
    text-decoration: none;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    gap: 2px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    font-family: 'Rajdhani', sans-serif;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 18px;
    line-height: 1;
    font-weight: 500;
    color: white;
    text-transform: uppercase;
    background-size: 200%;
    background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(#1a90ff),
      color-stop(51%, #0c5adb, to(#1a90ff))
    );
    background-image: -o-linear-gradient(
      left,
      #1a90ff 0%,
      #0c5adb 51%,
      #1a90ff 100%
    );
    background-image: linear-gradient(
      to right,
      #1a90ff 0%,
      #0c5adb 51%,
      #1a90ff 100%
    );
    border: none;
    border-radius: 50px;
    padding: 14px 32px;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }

  .header-btn a:hover {
    background-position: -100%;
  }
  .header-btn a svg {
    @apply text-lg;
  }

  .header-main-menu nav ul li .submenu,
  .header-main-menu nav ul li .submenu li .submenu {
    @apply absolute top-full left-[-5px] w-[260px] z-[99] bg-white text-start border-t-[3px] border-PrimaryColor-0 rounded-[4px] shadow-lg opacity-0 invisible scale-y-0 origin-top transition-all duration-500 ease-in-out;
  }

  .header-main-menu nav ul li:hover .submenu,
  .header-main-menu nav ul li .submenu li:hover .submenu {
    @apply opacity-100 visible scale-y-100;
  }

  .header-main-menu nav ul li .submenu li .submenu {
    @apply left-full;
  }

  .header-main-menu nav ul li .submenu > li:last-child,
  .header-main-menu nav ul li .submenu li .submenu li:last-child {
    @apply mb-0;
  }

  .header-main-menu nav ul li .submenu > li a,
  .header-main-menu nav ul li .submenu li:hover .submenu > li a {
    @apply block w-full px-[24px] py-[14px] text-[14px] font-[500] text-[#041424] uppercase font-Nunito border-b border-PrimaryColor-0 transition-all duration-500 relative z-10;
  }

  .header-main-menu nav ul li .submenu > li a > span {
    @apply absolute top-1/2 right-[24px] text-[12px] transition-all duration-500 transform -translate-y-1/2;
  }

  .header-main-menu nav ul li .submenu > li:hover > a > span {
    @apply transform -translate-y-1/2 -rotate-180;
  }

  .header-main-menu nav ul li .submenu > li a,
  .header-main-menu nav ul li .submenu li:hover .submenu > li a {
    @apply after:absolute after:bottom-0 after:right-0 after:w-full after:h-0 after:bg-PrimaryColor-0 after:transition-all after:duration-500 after:-z-10;
  }

  .header-main-menu nav ul li .submenu > li:hover > a,
  .header-main-menu nav ul li .submenu li:hover .submenu > li:hover > a {
    @apply text-white;
  }

  .header-main-menu nav ul li .submenu > li:hover > a,
  .header-main-menu nav ul li .submenu li:hover .submenu > li:hover > a {
    @apply after:top-0 after:h-full after:bottom-auto;
  }

  .menu-btn {
    @apply ml-[20px];
  }

  .homemenu-btn {
    @apply absolute bottom-[20%] left-0 right-0 text-center opacity-0 invisible transition-opacity duration-500;
  }

  .homemenu-title {
    @apply text-[16px] text-black font-Rajdhani inline-block;
  }

  .homemenu-title:hover {
    @apply text-PrimaryColor-0;
  }

  .main-menu-mobile .submenu {
    @apply max-h-0 overflow-hidden transition-all duration-300 ease-in-out;
  }

  .main-menu-mobile ul {
    @apply static block shadow-none;
  }

  .main-menu-mobile ul li {
    @apply relative w-full p-0 list-none;
  }

  .main-menu-mobile ul li:not(:last-child) a {
    @apply border-b border-white border-opacity-20;
  }

  .main-menu-mobile ul > li > ul > li > a {
    @apply capitalize transition-all duration-500;
  }

  .main-menu-mobile ul > li > ul > li > a:hover {
    @apply text-PrimaryColor-0;
  }

  .main-menu-mobile ul li.has-dropdown > a .dropdown-toggle-btn {
    @apply absolute right-0 top-[18%] w-[30px] h-[30px] bg-PrimaryColor-0 text-white text-[14px] flex items-center justify-center border border-white border-opacity-10 transform -translate-y-1 transition-all duration-300 ease-in-out z-10;
  }

  .main-menu-mobile ul li.has-dropdown > a .dropdown-toggle-btn svg {
    @apply transition-all duration-300 ease-in-out;
  }

  .main-menu-mobile
    ul
    li.has-dropdown
    > a
    .dropdown-toggle-btn.dropdown-opened
    svg {
    @apply transform rotate-[90deg];
  }

  .main-menu-mobile ul li.has-dropdown > a .dropdown-toggle-btn:hover {
    @apply bg-PrimaryColor-0 border-PrimaryColor-0 text-white;
  }

  .main-menu-mobile ul li.has-dropdown > a.expanded {
    @apply text-white;
  }

  .main-menu-mobile
    ul
    li.has-dropdown
    > a.expanded
    .dropdown-toggle-btn.dropdown-opened {
    @apply bg-PrimaryColor-0 border-PrimaryColor-0 text-white;
  }

  .main-menu-mobile
    ul
    li.has-dropdown
    > a.expanded
    .dropdown-toggle-btn.dropdown-opened
    i {
    @apply text-white;
  }

  .main-menu-mobile ul li.has-dropdown:hover > a {
    @apply after:text-green-500;
  }

  .main-menu-mobile ul li:last-child a span {
    @apply border-b-0;
  }

  li.has-dropdown a span {
    @apply hidden;
  }

  li.has-dropdown a button span {
    @apply block;
  }

  .main-menu-mobile ul li > a {
    @apply block text-[16px] text-white relative py-[10px] pr-[20px];
  }

  .main-menu-mobile ul li > a svg {
    @apply inline-block text-[21px] leading-[1] transform;
  }

  .main-menu-mobile ul li > a .menu-text {
    @apply text-[16px] leading-[11px] border-b border-gray-300 w-[82%] inline-block py-[19px] pb-[17px];
  }

  .main-menu-mobile ul li img {
    @apply w-full;
  }

  .main-menu-mobile ul li ul {
    @apply p-0;
  }

  .main-menu-mobile ul li ul li {
    @apply p-0;
  }

  .main-menu-mobile ul li ul li a {
    @apply ml-auto w-[93%] px-[5%] py-[10px] text-white visible pr-[20px] pl-0;
  }

  .main-menu-mobile ul li ul li li a {
    @apply w-[88%] px-[7%] py-[10px] text-white pr-[20px] pl-0;
  }

  .main-menu-mobile ul li ul li li li a {
    @apply w-[83%] px-[9%] py-[10px] text-white pr-[20px] pl-0;
  }

  .main-menu-mobile ul li ul li li li li a {
    @apply w-[68%] px-[11%] py-[10px] text-white pr-[20px] pl-0;
  }

  .submenu.has-homemenu.mega-menu {
    @apply w-[750px] p-[20px];
  }

  @media (max-width: 1399px) {
    .header-logo {
      @apply my-[15px];
    }
  }

  @media (max-width: 991px) {
    .header-btn {
      @apply m-0;
    }

    nav.main-menu-content > ul > li > a > span {
      @apply hidden;
    }
  }

  .homemenu-content a {
    @apply text-black font-bold;
  }

  .homemenu-content a:hover {
    @apply text-PrimaryColor-0;
  }

  .main-menu-mobile * li {
    @apply transition-none;
  }

  @media (min-width: 1200px) and (max-width: 1399px) {
    nav.main-menu-content > ul > li > a {
      @apply px-[12px] py-[28px];
    }

    nav.main-menu-content > ul > li > a > span {
      @apply top-[24px] right-[-1px];
    }
  }

  @media (min-width: 992px) and (max-width: 1199px) {
    nav.main-menu-content > ul > li > a {
      @apply px-[10px] py-[28px];
    }

    nav.main-menu-content > ul > li > a > span {
      @apply top-[24px] right-[-1px];
    }
  }

  .header-area.header-classic {
    @apply py-[14px];
  }

  .header-area.header-classic.is-sticky {
    @apply bg-[#041424] py-[8px];
  }

  .header-area.header-classic .header-logo {
    @apply m-0;
  }

  .header-area.header-classic nav.main-menu-content > ul > li > a {
    @apply text-white px-[28px] py-[38px];
  }

  @media (min-width: 992px) and (max-width: 1199px) {
    .header-area.header-classic nav.main-menu-content > ul > li > a {
      @apply px-[18px] py-[38px];
    }
  }

  .header-area.header-classic nav.main-menu-content > ul > li > a > span {
    @apply top-[43px];
  }

  .header-area.header-classic .main-menu-mobile ul li > a {
    @apply text-white !important;
  }

  .header-area.header-classic .header-btn {
    @apply m-0;
  }

  .header-area.style-two .header-logo img {
    @apply filter brightness-0 invert;
  }

  .header-area.style-two nav.main-menu-content > ul > li > a {
    @apply text-white;
  }

  .header-area.style-two nav.main-menu-content > ul > li > a {
    @apply before:border-white;
  }

  .header-area.style-two.is-sticky {
    @apply bg-[#041424];
  }

  .body-overlay2 {
    @apply fixed inset-0 z-[50] w-full h-full bg-black bg-opacity-80 opacity-0 invisible transition-opacity duration-[450ms] ease-in-out;
  }

  .body-overlay2.apply {
    @apply opacity-100 visible;
  }

  .body-overlay2:hover {
    cursor: url(/public/images/cross.png), pointer;
  }

  .menu-sidebar span {
    @apply block h-[2px] bg-white my-[5px] rounded-[30px] transition-all duration-500 ease-in-out;
  }

  .menu-sidebar:hover span:nth-child(1),
  .menu-sidebar:hover span:nth-child(2),
  .menu-sidebar:hover span:nth-child(3) {
    @apply w-[22px];
  }

  .menu-sidebar span:nth-child(3) {
    @apply w-[18px];
  }

  .menu-sidebar span:nth-child(2) {
    @apply w-[14px];
  }

  .menu-sidebar span:nth-child(1) {
    @apply w-[20px];
  }

  .sidebar {
    @apply fixed inset-y-0 -right-full w-[400px] bg-[#041424] z-[99] p-[36px] shadow-lg overflow-y-scroll opacity-0 invisible transition-all duration-[450ms] ease-in-out bg-cover bg-no-repeat;
  }

  .sidebar.opened {
    @apply right-0 opacity-100 visible transition-all duration-[600ms] ease-[cubic-bezier(0.785,0.135,0.15,0.86)];
  }

  .sidebar_title p {
    @apply text-[16px] text-[#a3b7b7] mb-[20px];
  }

  @media (max-width: 767px) {
    .sidebar_title p {
      @apply text-[15px];
    }
  }

  .sidebar_service-title h5 {
    @apply text-[24px] text-white font-medium font-Rajdhani mb-[20px] inline-block;
  }

  .service_list li {
    @apply list-disc text-PrimaryColor-0 ml-[20px];
  }

  .service_list li button {
    @apply text-[18px] text-[#a3b7b7] font-medium font-Rajdhani transition-all duration-500 my-[6px];
  }

  .service_list li button:hover {
    @apply text-white;
  }

  .sidebar_contact-title h5 {
    @apply text-[24px] text-white font-medium font-Rajdhani my-[20px] mb-[30px] inline-block;
  }

  .sidebar_contact-info ul li {
    @apply flex items-center;
  }

  .sidebar_contact-info ul li a {
    @apply text-white font-Rajdhani transition-colors duration-300 ml-[10px];
  }

  .sidebar_contact-info ul li a:hover {
    @apply text-PrimaryColor-0;
  }

  .sidebar_contact-info ul li svg {
    @apply text-PrimaryColor-0;
  }

  .sidebar_input-title h4 {
    @apply text-[24px] text-white font-normal font-Rajdhani mb-[30px] inline-block;
  }

  .sidebar_input {
    @apply mb-[10px] relative;
  }

  .sidebar_input input {
    @apply bg-transparent border border-white border-opacity-10 h-[60px] w-full px-[20px] pr-[80px] text-white outline-none;
  }

  .sidebar_input button {
    @apply absolute bottom-0 right-0 h-[60px] w-[60px] bg-PrimaryColor-0 text-white text-[24px] flex items-center justify-center;
  }

  .sidebar_input input::placeholder {
    @apply text-[#ffffff57];
  }

  .sidebar_logo {
    @apply mb-[25px];
  }

  .sidebar_close-btn button {
    @apply absolute right-[30px] top-[30px] h-[40px] w-[40px] bg-PrimaryColor-0 text-white text-[20px] flex items-center justify-center transition-all duration-300 ease-in-out;
  }

  .sidebar_close-btn button:hover svg {
    @apply rotate-180 transition-transform duration-1000;
  }

  .sidebar-social-icon {
    @apply flex items-center gap-[3px] mt-[30px];
  }

  .sidebar-social-icon li a {
    @apply h-[45px] w-[45px] flex items-center justify-center text-[16px] text-white bg-opacity-20 rounded-full hover:bg-PrimaryColor-0 transition-all duration-300 relative;
  }

  .sidebar-social-icon li a {
    @apply before:absolute before:inset-0 before:bg-PrimaryColor-0 before:rounded-full before:scale-0 before:transition-transform before:duration-500 before:-z-10;
  }

  @media (max-width: 767px) {
    .sidebar-social-icon li a {
      @apply h-[40px] w-[40px] text-[15px];
    }
  }

  .sidebar-social-icon li a:hover {
    @apply before:scale-100;
  }
}
