.marquee-text-section2 {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  background: transparent;
}

.marquee-animation2 {
  display: inline-block;
  will-change: transform;
  animation: marquee 40s linear infinite;
  overflow: hidden;
}

.marquee-animation2:hover {
  animation-play-state: paused;
}

span.marquee-text-item2 {
  display: inline-block;
  font-size: 100px;
  line-height: 74px;
  color: #ffffff;
  margin: 0 25px;
  text-transform: uppercase;
  font-family: 'Rajdhani';
  font-weight: 700;
}

span.marquee-text-item2.stroke {
  color: transparent;
  -webkit-text-stroke: 1px #ffffff;
}

/* Responsive here */

@media screen and (max-width: 667px) {
  .marquee-text-section2 {
    margin: 40px 0 0;
  }

  span.marquee-text-item2 {
    font-size: 24px;
    margin: 0 5px;
  }
}

/* Marquee Animation */

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
