.marquee-text-section4 {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  background: linear-gradient(to left, #1a90ff, #3326fc);
  padding: 33px 0 21px;
}

.marquee-animation4 {
  display: inline-block;
  will-change: transform;
  animation: marquee 30s linear infinite;
  overflow: hidden;
}

.marquee-text-section4:hover .marquee-animation4 {
  animation-play-state: paused;
}

span.marquee-text-item4 {
  display: inline-block;
  font-size: 40px;
  color: #ffffff;
  margin: 0 16px; /* Increased margin */
  text-transform: uppercase;
  font-family: 'Rajdhani';
  font-weight: 600;
}

span.marquee-text-item4.animate-rotational {
  position: relative;
  top: 5px;
}


span.marquee-text-item4 img {
  filter: brightness(0) invert(1);
  opacity: 50%;
  width: 35px;
}

/* Responsive here */

@media screen and (max-width: 667px) {
  span.marquee-text-item4 {
    font-size: 24px;
    margin: 0 5px;
  }

  span.marquee-text-item4 img {
    width: 20px;
  }
}

/* Animation */

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
